* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #CE7E7E;

    font-family: "Rubik", sans-serif;
}

.corpo {
    background: #2D2A37;

    width: 366px;
    height: 566px;

    border-radius: 20px;

    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.22) inset; 
}

.calculadora {
    padding: 54px 32px;

    display: flex;
    justify-content: center;

}

.igual {
    background: linear-gradient(0deg, #E24545 0%, #E24545 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%); box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.10) inset;
}

.teclas {

    position: relative;
    right: 10px;
    bottom: 10px;
    
    

    padding: 49px;
    padding-top: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  ;
    
    gap: 12px;
    
}

.teclas button{
    color: white;

    width: 64px;
    height: 64px;

    font-size: 20px;
    
    border-radius: 20px ;

    cursor:pointer;

    border: solid 1px black;
}

.div:hover, .multi:hover, .subt:hover, .soma:hover, .igual:hover {
    color: black;
}

button:hover {
    color: brown;
}

.visor .hist {
    display: grid;
    justify-content: flex-end;

    grid-area:auto;

    letter-spacing: 5px;

    position: relative;
    top: 45px;
    left: 75px;
    

    font-size: 20px;
    width: 248px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;

    color: #6B6B6B;
    opacity: 0.5;

    
}

.result {
    display: flex;
    justify-content: space-around;
    column-gap: 225px;

    position: relative;
    top: 70px;
    left: 45px;

    font-size: 30px;
    width: 248px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;


}

h2 {
    color: white;

}

p {
    color: #6B6B6B;
    opacity: 0.5;
}

.div, .multi, .subt, .soma {
    background: linear-gradient(0deg, #782828 0%, #782828 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
}


button {
    background: linear-gradient(0deg, #2D2A37 0%, #2D2A37 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);

    box-shadow: 1px 20px 50px black;
} 

